{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Vos albums{% endset %}

{% block main_content %}

    <div class="w-full">
        <div class="w-full min-h-24">
            <div class="relative bg-gray-900 rounded-2xl py-12 overflow-hidden min-h-24">
                <div class="absolute top-0 left-0 rounded-2xl w-full h-full">
                    <img src="{{ asset('blog/articles/2024/orceyrette/cover-orceyrette.jpg') }}" alt="background image" class="opacity-50 object-cover w-full h-full pointer-events-none">
                </div>
                <div class="relative px-4 lg:px-8">
                    <div class="text-yellow-500 font-semibold text-lg md:text-center">Retrouvez l'ensemble des photos en téléchargement en haut qualité.</div>
                    <h1 class="text-white font-bold text-4xl md:text-6xl md:text-center">Vos albums</h1>
                </div>
            </div>
        </div>

       <div class="mt-10 flex items-center justify-center flex-wrap gap-4">
           {% for album in albums %}
               <a class="block p-4 bg-white rounded-md w-96 border hover:border-gray-300" href="{{ path('user_album_read', {slug: album.slug}) }}">
                   <div class="font-semibold">{{ album.title }}</div>
                   <div class="text-gray-600 text-sm">{{ album.dateAt | date('d/m/Y') }}</div>
               </a>
           {% endfor %}
        </div>
    </div>
{% endblock %}
