{% extends 'app/pages/legales/template.html.twig' %}

{% set page_title %}Gestion des cookies{% endset %}

{% block main_content %}
    <div class="bg-white border p-4 rounded-xl shadow-xl text-sm lg:p-8">
        <h1 class="text-3xl sm:text-4xl font-bold leading-9 tracking-tight text-gray-900 mb-4 uppercase">Gestion des cookies</h1>

        <section class="flex flex-col gap-6">
            <div>
                <h2 class="text-lg font-semibold">Qu'est-ce qu'un cookie ?</h2>
                <p>
                    Un "cookie" est une suite d'informations, généralement de petite taille et
                    identifié par un nom, qui peut être transmis à votre navigateur par un site
                    web sur lequel vous vous connectez. Votre navigateur web le conservera pendant
                    une certaine durée, et le renverra au serveur web chaque fois que vous vous
                    y re-connecterez. Les cookies ont de multiples usages : ils peuvent servir à
                    mémoriser votre identifiant client auprès d'un site marchand, le contenu courant
                    de votre panier d'achat, un identifiant permettant de tracer votre navigation
                    pour des finalités statistiques ou publicitaires, etc.
                </p>
            </div>

            <div>
                <h2 class="text-lg font-semibold">Configurer son navigateur pour bloquer les cookies</h2>
                <p>
                    Les cookies sont stockés dans votre navigateur. Vous avez la possibilité de configurer
                    les paramètre de votre navigateur pour vous opposer directement à l'enregistrement des cookies.
                    <br>
                    Toutefois, Certaines fonctionnalités du site pourraient en être affectées. <br>
                    <br>
                    Voici les procédures à suivre pour bloquer les cookies selon le navigateur que vous utilisez.
                </p>
                <ul>
                    <li><a target="_blank" rel="external" href="https://support.google.com/accounts/answer/61416?hl=fr">Désactivation des cookies sur Google Chrome</a></li>
                    <li><a target="_blank" rel="external" href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies">Désactivation des cookies sur Mozilla Firefox</a></li>
                    <li><a target="_blank" rel="external" href="https://support.microsoft.com/hub/4338813/windows-help">Désactivation des cookies sur Internet Explorer</a></li>
                </ul>
            </div>

            <div>
                <h2 class="text-lg font-semibold">Cookies nécessaires</h2>
                <p>
                    Les cookies nécessaires contribuent à rendre notre site internet utilisable.
                    Pour la navigation entre les pages, l'accès aux zones sécurisées,
                    la mémorisation de votre choix d'acceptation ou refus des cookies.
                </p>
            </div>

            <div>
                <h2 class="text-lg font-semibold">Cookies tiers</h2>
                <p>
                   Aucun cookie tiers utilisé.
                </p>
            </div>
        </section>
    </div>
{% endblock %}
