{% extends 'themes/default/app/pages/security/template.html.twig' %}

{% block title %}Connexion espace client {{ parent() }}{% endblock %}

{% block main_content %}
<div id="login">
    <section class="formulaire">

        <h1>Se connecter</h1>

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="line">
                <div class="form-group">
                    <label for="inputUsername">Nom d'utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
            </div>

            <div class="line">
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <div class="form-submit">
                <button class="btn btn-primary" type="submit"><span>Connexion</span></button>
            </div>

            <div class="lost">
                <div id="lost"></div>
            </div>
        </form>
    </section>
</div>
{% endblock %}