@import "../vars/vars.scss";

@import "~aos/dist/aos.css";

html{
  scroll-behavior: smooth;
}

img, svg{
  width: 100%;
}

h2{
  font-size: 26px;
}

#gardons-contact {
  margin-top: 48px;
  padding: 0 12px;
  text-align: center;
  border-top: 1px solid var(--colorBorder);

  .content{
    max-width: 550px;
    margin: 0 auto;
  }

  p{
    opacity: 0.85;
  }

  h2 {
    margin-bottom: 24px;

    &:after {
      content: '';
      display: block;
      background: var(--color0);
      width: 50px;
      height: 3px;
      margin: 24px auto 0 auto;
    }
  }

  .social{
    margin-bottom: 48px;
  }

  .social-links{
    margin-top: 24px;

    a{
      color: var(--color0);
      padding-bottom: 4px;
      transition: all 0.2s ease;
      border-bottom: 1px solid transparent;

      &:hover{
        border-bottom: 1px solid var(--color0);
        opacity: 1;
      }
    }

    & > *:not(:last-child){
      margin-right: 8px;
    }
  }
}

#newsletter{
  margin-top: 24px;
  label{
    opacity: 0;
  }

  .btn{
    @include flex(row, center, center);

    [class^="icon-"]{
      margin-right: 8px;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  #newsletter{
    margin-top: 48px;

    .inputs{
      @include flex(row, flex-start, center);
    }
    label{
      height: 0;
    }
    .line{
      margin-bottom: 0;
      width: 295px;
    }
    .btn{
      margin-top: 0;
      border-radius: 0 5px 5px 0;

      &:hover, &:focus{
        opacity: 1;
      }
    }
    input{
      padding: 13px 10px;
      transform: translateY(-5px);
      border-radius: 5px 0 0 5px;
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  main{
    padding-top: 0;
  }
  h2{
    font-size: 36px;
  }
  #gardons-contact{
    margin-top: 32px;
    padding-top: 32px;
  }
}

//                      __   _ _  _   _  _    ___    __
//                     | _| / | || | | || |  / _ \  |_ |
//    _____ _____ _____| |  | | || |_| || |_| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |__   _|__   _| |_| |  | |_____|_____|_____|
//                     | |  |_|  |_|    |_|  \___/   | |
//                     |__|                         |__|
@media (min-width: 1440px){
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  main{
    max-width: 1366px;
    margin: 0 auto;
  }
}