@import "../vars/vars.scss";

main{
  padding: 12px 0;
}

form{
  margin-top: 24px;
}

.legales{
  margin-top: 24px;

  & > div{
    margin-bottom: 24px;

    h2{
      margin-bottom: 12px;
    }

    h3{
      margin-top: 12px;
      margin-bottom: 4px;
    }
  }
}
