<div class="w-full px-2 lg:px-8">
    <div class="md:flex md:flex-col md:justify-center md:items-center">
        <h2 class="font-bold text-6xl">Parlons de votre projet !</h2>
        <p class="mt-4 text-gray-600 max-w-screen-md md:text-center">
            N'hésitez pas à me contacter pour discuter de vos besoins et organiser une séance photo qui vous ressemble.
            Ensemble, créons des souvenirs qui resteront gravés pour toujours.
        </p>
    </div>

    <div class="mt-10 md:max-w-[680px] md:mt-12 md:mx-auto md:grid md:grid-cols-2 md:gap-8 lg:gap-12 lg:flex lg:max-w-[904px]" id="restons-en-contact">
        <div id="contacts_create" class="lg:w-[584px]">
            {% include "layout/components/tailwind/loaders/loader.html.twig" %}
        </div>
        <div class="mt-8 md:mt-0 md:max-w-80">
            <div class="rounded-md max-h-64 md:max-w-80 overflow-hidden">
                <img src="{{ asset('build/app/images/contact.jpg') }}" alt="ppl" class="rounded-md object-cover w-full h-full">
            </div>
            <div class="mt-4">
                <h3 class="font-medium text-xl">Chanbora Chhun</h3>
                <div>Photographe</div>
                <div class="mt-2 md:max-w-80">
                    À travers mes photos, laissez-moi vous aider à raconter votre histoire qui vous feront
                    revivre ces moments de vies uniques encore et encore.
                </div>
                <div class="mt-4 flex gap-4">
                    <a href="https://www.instagram.com/shanbo_daltonien/" target="_blank" class="relative">
                        <span class="icon-instagram !text-lg"></span>
                        <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">Instagram</span>
                    </a>
                    <a href="https://www.linkedin.com/in/chanbora-chhun-00a0a0112/" target="_blank" class="relative">
                        <span class="icon-linkedin !text-lg"></span>
                        <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">LinkedIn</span>
                    </a>
                    <a href="https://unsplash.com/fr/@shanbora" target="_blank" class="relative">
                        <span class="icon-network !text-lg"></span>
                        <span class="tooltip bg-gray-300 py-1 px-2 rounded absolute -top-7 right-0 text-xs hidden">Unsplash</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
