{% extends 'admin/pages/gallery/template.html.twig' %}

{% set page_title %}Galerie de {{ user.galleryTitle }}{% endset %}
{% set page_subtitle %}{{ user.galleryTitle }} au {{ user.galleryDate | date("d/m/Y") }}.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_galleries_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la liste'
    } %}
{% endset %}

{% block main_content %}
    <div class="mt-10 flex flex-col gap-8 min-h-[calc(100vh-100px-80px)]">
        <p class="text-center">Les photos sont triées par nombre de téléchargements.</p>
        <div id="gallery_index" data-user-id="{{ userId }}"></div>
    </div>
{% endblock %}
