<div class="flex flex-row gap-4">
    <div class="w-10">
        <img class="h-10 w-10 rounded-full" src="{{ asset('blog/avatars/chanbora.jpg') }}" alt="Avatar chanbora chhun">
    </div>
    <div>
        <div class="font-medium">Chanbora Chhun</div>
        <div class="text-sm text-gray-600">Photographe</div>
    </div>
</div>
