<div>
    <p>Données techniques approximatives : <br></p>
    <div class="font-medium flex gap-4 mt-2 text-red-500">
        {% if duration is defined %}
            <div>{{ duration }}</div>
        {% endif %}
        <div>{{ km }}km</div>
        <div>{{ d }}D+</div>
        <div>{{ altitude }}m d'altitude</div>
    </div>
</div>
