<div class="mt-2 text-sm">
    <div class="font-medium">Sony A7 III</div>
    <div class="text-gray-600 flex gap-4">
        <div>{{ focal }} mm</div>
        <div>F{{ apeture }}</div>
        <div>{{ speed }}s</div>
        <div>ISO {{ iso }}</div>
    </div>
</div>
