<div class="flex flex-col gap-6">
    <div>
        <h3 class="text-2xl font-semibold border-b">Un petit coup de pouce</h3>
        <p class="mt-4">
            N'hésitez pas à me suivre sur les réseaux sociaux pour plus de découvertes !
        </p>
        <div class="mt-4 flex">
            <a href="https://www.instagram.com/shanbo_daltonien/" target="_blank" rel="external" class="flex gap-2 items-center bg-white py-2.5 px-6 rounded-md border border-gray-400 group" title="instagram">
                <span class="icon-instagram text-blue-500"></span>
                <span class="font-medium group-hover:underline">@shanbo_daltonien</span>
            </a>
        </div>
    </div>
</div>
