{% extends 'app/pages/security/template.html.twig' %}

{% set page_title %}Mon espace{% endset %}

{% block main_content %}
    <div class="min-h-full max-w-screen-lg mx-auto sm:my-8">
        <div class="bg-white border shadow-xl rounded-xl md:flex lg:grid lg:grid-cols-2 md:max-h-[520px]">
            <div class="relative hidden md:block md:max-h-[520px]">
                <img class="w-full h-full object-cover rounded-l-xl" src="{{ asset('build/app/images/login.jpg') }}" alt="login illustration">
                <div class="absolute bottom-4 left-4 text-slate-100">
                    <h3 class="font-medium text-xl">Chanbora Chhun</h3>
                    <div class="ft-special text-sm bg-gray-600/60 inline-block rounded-md px-4 py-0.5">Photographe</div>
                    <p class="mt-2 md:max-w-80 text-sm">
                        Confiez-moi le soin de capturer l’essence de votre histoire à travers des photos uniques,
                        qui parleront d’elles-mêmes et feront vibrer vos souvenirs.
                    </p>
                    <div class="mt-4">
                        <a href="{{ path('app_contact') }}" class="group text-sm font-semibold leading-6 text-blue-500 ft-special">
                            Contactez moi pour donner vie à votre récit <span aria-hidden="true" class="inline-block transition-transform group-hover:translate-x-1">→</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-center p-4 px-6 py-12 md:min-w-[320px] md:max-h-[520px] lg:px-8 lg:min-w-[446px]">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <div class="flex justify-center items-center mb-4">
                        <img class="h-8 w-auto rounded-md" src="{{ asset('build/app/images/logo.png') }}" alt="Logo Shanbo">
                    </div>
                    <h1 class="text-center text-3xl sm:text-4xl font-bold leading-9 tracking-tight text-gray-900">Espace privée</h1>
                    <p class="text-gray-600 text-center text-sm mt-1">Accédez à votre espace privée.</p>
                </div>

                <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm">
                    {% include 'app/pages/security/components/login_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
