@import "../vars/vars.scss";

.rgpd-subject{
    display: inline-block;
    width: 10px; height: 10px;
    border-radius: 20px;
    background-color: var(--colorDisabled);
    margin-right: 4px;
}

$types:
    "0" var(--color0),
    "1" var(--color3),
    "2" var(--color4),
    "3" var(--nuance1);

@each $name, $color in $types{
    .rgpd-subject-#{$name}{
        background-color: $color;
    }
}