{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}{{ album.title }}{% endset %}

{% block main_content %}
    <style>
        .gallery-item {
            break-inside: avoid; /* Évite que les images se cassent sur plusieurs colonnes */
        }
    </style>
    <div class="flex flex-col gap-8 min-h-[calc(100vh-100px-80px)]">
        <div id="gallery_index" data-album-id="{{ album.id }}"></div>
    </div>
{% endblock %}
