{% extends 'themes/default/base.html.twig' %}

{% block title %}| Chanbora Chhun{% endblock %}

{% block meta_description %}
    Salut ! Bienvenue sur mon site. Je suis Chanbora Chhun, développeur web fullstack, donc
    front-end et back-end sous Symfony, React, Javascript et Sass principalement. Développeur
    à Marseille, je suis à disposition pour développer des sites internets et d'autres applications web.
{% endblock %}
{% block meta_keywords %}
    chanbora, chhun, chanbora chhun, developpeur web, developpeur front-end, developpeur, developpeur fullstack
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('default_app') }}
{% endblock %}

{% block body %}
    <div id="top"></div>

    <div class="toUp">
        <a href="#top"><span class="icon-arrow-up"></span></a>
    </div>

    {# --------------- VARIABLES ---------------- #}
    {% set path_images = "build/themes/default/front/images/" %}

    {% set menu = [
        {
            'path': path('app_homepage'), 'blank': false,
            'label': 'Accueil',
            'name': 'accueil'
        },
        {
            'path': "https://www.instagram.com/shanbo_daltonien/", 'blank': true,
            'label': 'Instragram',
            'name': 'instagram'
        },
        {
            'path': "https://www.linkedin.com/in/chanbora-chhun-00a0a0112/", 'blank': true,
            'label': 'LinkedIn',
            'name': 'linkedIn'
        },
        {
            'path': "https://github.com/starozytny", 'blank': true,
            'label': 'Github',
            'name': 'github'
        },
        {
            'path': path('app_contact'), 'blank': false,
            'label': 'CONTACT',
            'name': 'nous-contacter'
        }
    ] %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% set menuAccount = [
            {
                'path': path('app_logout'), 'blank': false,
                'label': 'Se déconnecter',
                'name': 'logout'
            }, 
            
        ] %}
        
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            {% set menuImpersonate = [
                {
                    'path': path('super_users_index', {'_switch_user': '_exit'}), 'blank': false,
                    'label': 'Quitter impersonate',
                    'name': 'exit-impersonate'
                }, 
                
            ] %}

            {% if menuAccount is defined %}
                {% set menuAccount = menuAccount | merge(menuImpersonate) %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% if menuAccount is defined %}
        {% set menu = menu | merge(menuAccount) %}
    {% endif %}

    <!-- For Google page speed -->
    <style>
        .navigation{ background-color: var(--alpha); }

        nav.active .nav-header, nav.active .nav-body{
            background-color: var(--colorFond);
            z-index: 20;
        }
        nav.active .nav-header{
            position: fixed;
            top: 0; left: 0;
            width: calc(100% - 20px);
            z-index: 25;
        }
        nav.active .nav-header .icon-menu{ display: none; }
        nav.active .nav-header .icon-cancel{ display: block; }
        nav.active .nav-body{ 
            transform: translateX(0);
            opacity: 1;
        }
        nav img{
            width: 80px;
            height: 30px;
        }
        nav .nav-header{
            position: relative;
            z-index: 1;
            display: flex; flex-direction: row;
            align-items: center; justify-content: space-between;
            padding: 10px;
            font-family: 'barlowbold', sans-serif; font-weight: 700;
            font-size: 24px;
        }
        nav .nav-header a { color: var(--color3); }
        nav .nav-header [class^="icon-"] { 
            padding: 12px;
            color: var(--color3);
            font-weight: bold;
        }
        nav .nav-header .icon-menu{
            display: block; 
            color: var(--beta);
        }
        nav .nav-header .icon-cancel{ display: none; }
        nav .nav-body{ 
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0; left: 0;
            padding-top: 50px;
            transform: translateX(-150px);
            opacity: 0;
            transition: all 0.2s ease-in-out;
            z-index: -1;
        }
        nav .nav-items{
            position: relative;
            display: flex; flex-direction: column;
            align-items: flex-start; justify-content: flex-start;
            height: inherit;
            padding-top: 25px;
        }
        nav .nav-item{
            padding: 5px 12px;
            text-transform: uppercase;
            color: var(--color3);
            opacity: 0.7;
            transition: all 0.2s ease-in-out;
            padding-bottom: 12px;
            width: calc(100% - 24px);
        }
        nav .nav-item:hover, nav .nav-item.active{
            opacity: 1;
        }
        nav .nav-items-active{
            position: absolute;
            bottom: 0; left: 0;
            background-color: var(--color3);
            width: 0;
            height: 1px;
            display: block;
            margin-top: 4px;
            transition: all 0.2s ease-in-out;
        }

        @media (min-width:768px) {
            nav{
                display: flex; flex-direction: row;
                align-items: center; justify-content: space-between;
                padding: 18px 18px 0 18px;
            }
            nav .nav-header{
                padding: 0;
                padding-bottom: 18px;
            }
            nav .nav-header [class^="icon-"]{ display: none; }
            nav .nav-body{
                position: relative;
                transform: translateX(0);
                opacity: 1;
                padding-top: 0;
                height: auto;
                display: flex; flex-direction: row;
                align-items: center; justify-content: flex-end;
                z-index: 1;
            }
            nav .nav-items{
                display: flex; flex-direction: row;
                align-items: center; justify-content: flex-end;
                padding-top: 0;
            }
            nav .nav-item{
                padding-bottom: 26px;
                width: auto;
            }
        }

        @media (min-width: 1024px) {
            nav{ padding: 26px 18px 0 18px; }
        }

        @media (min-width:1280px) {
            nav img{ width: 100px; }
        }

        @media (min-width: 1600px){
            nav{ 
                max-width: 1366px;
                margin: 0 auto;
            }
        }
    </style>

    <div id="default" data-menu="{{ menu | json_encode() }}"></div>

    <main>    
        
        {% block header %}{% endblock %}
        
        {% block main_content %}{% endblock %}
        
    </main>

    <div id="footer"></div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('default_app') }}
{% endblock %}