{% extends 'app/pages/contact/template.html.twig' %}

{% set page_title %}Demande de contact{% endset %}

{% block main_content %}
    <div class="2qhd:my-24">
        {% include "app/pages/contact/component/content.html.twig" with { page: true } %}
    </div>
{% endblock %}
