@use "vars/fonts";
@use "vars/vars";

@use "components/loader";
@use "components/pagination";
@use "components/list";

html{
  @include vars.fontRegular();
}

button.pswp__button--test-button {
  background: #136912 !important;
  font-size: 20px;
  color: #fff;
}

.pswp img {
  max-width: none;
  object-fit: contain;
}
