@mixin fontLight() { font-family: 'Barlow', sans-serif; font-weight: 300; }
@mixin fontRegular() { font-family: 'Barlow', sans-serif; font-weight: 400; }
@mixin fontSemibold() { font-family: 'Barlow', sans-serif; font-weight: 600; }
@mixin fontBold() { font-family: 'Barlow', sans-serif; font-weight: 700; }

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;flex-direction: $direction;
  align-items: $align;justify-content: $justify;
}

@mixin boxshadow($opacity: 0.9){
  box-shadow: 0 0 10px transparentize($color: #4ECDC4, $amount: $opacity);
}

@mixin scrollbar(){
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}