@use "vars/fonts";
@use "vars/vars";

@use "components/loader";
@use "components/pagination";
@use "components/list";

html{
  @include vars.fontRegular();
}

.ft-special{
  @include vars.fontSpecial();
}

.homepage_gallery{
  animation: slide 40s linear infinite;
}

@keyframes slide {
  0%{ transform: translateX(0px); }
  100% { transform: translateX(-2176px); }
}

@keyframes holo {
  0% { opacity: 0.2; }
  50% { opacity: 0.5; }
  100% { opacity: 0.2; }
}
.animate-holo {
  animation: holo 3s infinite linear;
}
