@import "vars/fonts";
@import "vars/vars";

@import "components/loader";
@import "components/pagination";
@import "components/list";

html{
  @include fontRegular();
}

.homepage_gallery{
  animation: slide 40s linear infinite;
}

@keyframes slide {
  0%{ transform: translateX(0px); }
  100% { transform: translateX(-2176px); }
}
