{% extends 'themes/default/user/pages/agenda/template.html.twig' %}

{% block title %}Agenda {{ parent() }}{% endblock %}

{% block main_content %}
    <h1>Calendrier</h1>

    <div id="agenda" data-week="{{ week }}" data-today="{{ today }}" data-events="{{ events }}"></div>
{% endblock %}
