{% extends 'themes/default/app/pages/legales/template.html.twig' %}

{% block title %}Demande RGPD pour le site Chanbora Chhun{% endblock %}

{% block main_content %}
    <h1>Demande RGPD</h1>

    <div id="form-rgpd"></div>
{% endblock %}