@import "../vars/vars.scss";

.others{
    padding-top: 16px;
    margin-top: 28px;
    border-top: 1px solid var(--color5);

    .title{
        opacity: 0.7;
    }

    .others-left + .others-right{
        margin-top: 12px;
    }
}

.others-right{
    .others-item{
        .btn{
            @include flex(row, center, center);
            width: calc(100% - 44px);
        }
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .others{
        @include flex(row, flex-start, space-between);

        .others-left + .others-right{
            margin-top: 0;
        }
    }

    .others-left{
        width: 205px;

        .btn{
            margin-bottom: 0;
        }
    }

    .others-right{
        width: calc(100% - 205px - 55px);
        margin-left: 55px;
        .title{
            text-align: right;
        }    
        .others-items{
            @include flex(row, center, flex-end);
            flex-wrap: wrap;
        }

        .others-item{
            margin-left: 12px;
        }
    }
}