@import "../vars/vars.scss";

.toolbar{
    margin-top: 12px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color5);

    .toolbar-left + .toolbar-right{
        margin-top: 12px;
    }

    .toolbar-left{
        .toolbar-item:first-child{
            .btn{
                margin-top: 0;
            }
        }
        .toolbar-item:last-child{
            .btn{
                margin-bottom: 0;
            }
        }
    }

    button.btn{
        width: 100%;
    }

    .toolbar-item:not(:last-child) > .btn{
        margin-bottom: 0;
    }
}

.toolbar{
    input[type="search"]{
        width: 100%;
        outline-color: var(--alpha);
    }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .toolbar{
        @include flex(row, center, space-between);

        .toolbar-left, .toolbar-right{
            width: 50%;
        }

        .toolbar-left{
            @include flex(row, center, flex-start);

            .toolbar-item > .btn{
                margin-bottom: 0;
            }

            .toolbar-item:not(:last-child){
                margin-right: 12px;
            }
        }
    }
}